@font-face {
  src: url(./assets/fonts/PPTelegraf-UltraLight.otf);
  font-family: 'telegraf-light';
  font-weight: normal;
} 

@font-face {
  src: url(./assets/fonts/PPTelegraf-Regular.otf);
  font-family: 'telegraf-regular';    
  font-weight: normal;
} 

@font-face {
  src: url(./assets/fonts/PPTelegraf-UltraBold.otf);
  font-family: 'telegraf-bold';    
  font-weight: normal;
} 
